<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Info</title>
</head>
<body>
    <h2>Reg no : {{academic["reg_no"]}}</h2>
    <h2>School Name : {{academic["school_name"]}}</h2>
    <h2>School Place : {{academic["school_place"]}}</h2>
    <h2>School Board : {{academic["school_board"]}}</h2>
    <h2>School Medium : {{academic["school_medium"]}}</h2>
    <h2>School Group : {{academic["school_group"]}}</h2>
    <h2>Tenth marks : {{academic["tenth_marks"]}}</h2>
    <h2>Twelveth marks : {{academic["twelveth_marks"]}}</h2>
    <h2>Religion : {{academic["religion"]}}</h2>
    <h2>Caste : {{academic["caste"]}}</h2>
    <h2>Community : {{academic["community"]}}</h2>
    <h2>Semester - 1 GPA : {{academic["semester_1_gpa"]}}</h2>
    <h2>Semester - 2 GPA : {{academic["semester_2_gpa"]}}</h2>
    <h2>Semester - 3 GPA : {{academic["semester_3_gpa"]}}</h2>
    <h2>Semester - 4 GPA : {{academic["semester_4_gpa"]}}</h2>
    <h2>Semester - 5 GPA : {{academic["semester_5_gpa"]}}</h2>
    <h2>Semester - 6 GPA : {{academic["semester_6_gpa"]}}</h2>
    <h2>Semester - 7 GPA : {{academic["semester_7_gpa"]}}</h2>
    <h2>Semester - 8 GPA : {{academic["semester_8_gpa"]}}</h2>
    <h2><a href="{{url_for('academicInfoEdit',username=username)}}">EDIT</a></h2>
</body>
</html>