<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family</title>
</head>
<body>
    <h5>Number of Family members : {{details[1]}} </h5>
    <h3><u>Father :</u></h3>
    <h5>First name : {{details[2]}}</h5>
    <h5>Last name : {{details[3]}}</h5>
    <h5>Occupation : {{details[4]}} </h5>
    <h5>DOB : {{details[5]}}</h5>
    <br>
    <h3><u>Mother :</u></h3>
    <h5>First name : {{details[6]}}</h5>
    <h5>Last name : {{details[7]}}</h5>
    <h5>Occupation : {{details[8]}} </h5>
    <h5>DOB : {{details[9]}}</h5>
    <br>
    <h5>Has Siblings : {{details[10]}} </h5>
    <br>
    <h5>No of Siblings : {{details[11]}}</h5>
    <h2><a href="/{{username}}/Family/edit">EDIT</a></h2>
</body>
</html>