body {
  margin: 0;
  background-color: #000000;
  color: #000000;
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

i{
  font-size: 1.5rem;
}

#main-container{
  text-align: center;
  margin-top: 3rem;
}

.inner-container{
  margin-inline:2rem;
  margin-block-start: 10rem;
  margin-block-end: 5rem;
  background-color: #ffebcd;
  color: #000000;
  padding:3rem;
  background-color: #ffebcd;
  border-radius:2rem;
  border: 0.5rem ridge #ffd700;
}

#form-container{
  margin-block-start: 7rem;
  margin-block-end:3rem;
  margin-inline: 2rem;
  padding:3rem;
  background-color: #ffebcd;
  border-radius:2rem;
  border: 0.5rem ridge #ffd700;
}

#dept-list{
  padding:5rem;
  list-style: none;
  
}

#sem-list{
  padding:5rem;
  list-style-type: none;
}


.img{
  max-width:8rem;
  max-height: 8rem;
}

.img:hover{
  max-width: 9rem;
  max-height: 9rem;
}

.dept-list-item{
  padding:2rem;
  border: 0.5rem ridge #ffd700;
  position: relative;
  text-align: center;
  margin-bottom:2rem;
  border-radius:1rem;
  box-shadow: 1rem 1rem 2rem rgba(228, 225, 225, 0.2);
  background-color: #ffebcd;
}

.sem-list-item{
  padding:2rem;
  border: 0.5rem ridge #ffd700;
  position: relative;
  text-align: center;
  margin-bottom:2rem;
  border-radius:1rem;
  box-shadow: 1rem 1rem 2rem rgba(228, 225, 225, 0.2);
  background-color: #ffebcd;
}

.form-inner-container{
  margin-inline-start:10rem;
}

.dropdown-menu{
  background-color: #f8e5c9;
}
.bg-almond{
  background-color: #ffebcd;
}
.not-found{
  margin-top: 10rem;
}